<!-- Footer Start -->
<div class="container-fluid pt-4 px-4">
	<div class="bg-secondary rounded-top p-4">
		<div class="col-12 col-sm-12 text-center">
			Created by &copy;
			<a href="https://t.me/Farruxbek_blog">FarruxDEV</a>.
		</div>
	</div>
</div>
<!-- Footer End -->