<!DOCTYPE html>
<html lang="en">
  {{!-- HEADER --}}
  {{#unless isAdmin}}
    {{> head}}
  {{else}}
    {{> adminHead}}
  {{/unless}}
    <body>
    {{!-- NAVBAR --}}
    {{#unless isAdmin}}
      {{> navbar}}
      <div class="container">
    {{/unless}}
    {{!-- BODY --}}
      {{{ body }}}

    {{!-- FOOTER --}}
    {{#unless isAdmin}}
      </div>
      {{> footer}}
    {{else}}
      {{> adminFooter}}
    {{/unless}}
    <br><br>
    <br><br>
  </body>

</html>
